.main {
  z-index: 1;
}

.navBar {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: rgb(219,229,240);
  background: linear-gradient(45deg, rgba(219,229,240,1) 0%, rgba(175,83,209,1) 43%, rgba(122,58,209,0.9626444327731093) 100%);
  position: absolute;
  top: 0;
  left: 0; 
  right: 0;
}

.link {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.label {
  text-decoration: underline;
}

.headerContainer {
  display: flex;
  justify-content: center;
  margin: 70px 16px 16px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  padding: 1%;
  border-radius: 5px;
}

.hiddenHeaderContainer {
  opacity: 0;
  margin-top: 80px;
}

.header {
  font-size: 20px;
}

.formContainer {
  display: flex;
  justify-content: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  padding: 10px;
  margin: 0 16px;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hiddenFormContainer {
  display: flex;
  justify-content: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  padding: 10px;
  margin: 0 16px;
  border-radius: 8px;
  opacity: 0.5;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.sendBtn {
  background-color: rgba(255, 228, 196, 0);
  border: none;
  color: white;
  padding: 16px;
  cursor: "pointer";
}

.editBtn {
  width: 100%;
  opacity: 0;
}

@media only screen and (min-width: 500px) {
  .form {
    display: flex;
    flex-flow: row wrap;    
    justify-content: center;
    gap: 10px;
    align-items: center;
    min-height: 300px;
  }
}

